! special
*.foreground:   #bea492
*.background:   #181512
*.cursorColor:  #bea492

! black
*.color0:       #332d29
*.color8:       #817267

! red
*.color1:       #8c644c
*.color9:       #9f7155

! green
*.color2:       #746c48
*.color10:      #857b52

! yellow
*.color3:       #908a66
*.color11:      #9c956e

! blue
*.color4:       #646a6d
*.color12:      #71777a

! magenta
*.color5:       #605655
*.color13:      #656565

! cyan
*.color6:       #4b5c5e
*.color14:      #556d70

! white
*.color7:       #504339
*.color15:      #9a875f

Xft.dpi: 192
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

xrandr --dpi 192

rofi.color-window: argb: EE000000, argb: EE000000, argb: EE000000
rofi.color-normal: argb: 00000000, #DEDEDE, argb: 00000000, #DEDEDE
